/**
 * @package     Skin "Default"
 * @section     Default Settings
 */

@media screen,projection,tv,handheld {

.CompanyCIFlag {
    top: 5px;
}
.Flag {
    height: 18px;
    width: 24px;
}

.Flag.Small {
    width: 17px;
    height: 10px;
    background-position: bottom right;
    padding: 0 !important;
    position: relative;
}
.Flag.Small.Sidebar {
    width: 17px;
    height: 10px;
    background-position: bottom right;
    padding: 0 !important;
    position: static;
    float: left;
    margin-top: 5px;
    margin-left: 4px
}

.Flag span {
    display: block;
    height: 16px;
    margin-right: 2px;
    text-indent: -9999px;
    cursor: pointer;
    /* set a default color for priorities */
    background-color: #cdcdcd;
}

.Flag.Small span {
    height: 8px;
}



ul.ITSMFlag {
    margin-top: 5px;
}

ul.ITSMFlag div.Value .Flag {
    float: left;
    margin-right: 5px;
    margin-top: 3px;
}

.RTL fieldset.TableLike div.Value .Flag {
    float: right;
    margin-left: 5px;
}

.Flag span.grayled {
    background-color:#cdcdcd;
}

.Flag span.greenled {
    background-color: #8bef4d;
}

.Flag span.yellowled {
    background-color: #ffdd50;
}

.Flag span.redled {
    background-color:#ff505e;
}

.Flag span.purpleled {
    background-color:#b23aee;
}

.Flag span.orangeled {
    background-color:#ff8c00;
}

.Flag span.cyanled {
    background-color:#79cdcd;
}

.Flag span.whiteled {
    background-color:#ffffff;
}

.Flag span.blackled {
    background-color:#000000;
}

label.SubElement {
        margin-left: 10%;
        margin-right: 10px;
}

div.SubElement {
    width:35%;
}


.Content.NoDoubleBorders {
    border-left: 0 none #000000;
    border-right: 0 none #000000;
}

.W5pc {
    width: 5%;
}

.W15pc {
    width: 15%;
}

.W25pc {
    width: 25%;
}

.W30pc {
    width: 30%;
}

.SpacingTop {
    margin-top: 15px;
}


}/* end media */
